 /* navbar */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  nav {
    height: 60px;
    background-color: #032942;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
  } 

  nav ul {
    display: flex;
    list-style: none;
  }

  nav ul li {
    margin: 0 5px;
  }

  nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 1px;
    background: #032942;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.4s ease; 
  }

  nav ul li a:hover {
    text-decoration: none;
    background: #fff;
    color: #032942;
  }

  /* hamburger menu */

  .icon i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  } 

  #click{
    display: none;
  }

  @media screen and (max-width: 850px) {
    .menu-btn i{
      display: block;
    }

    .icon {
      position: fixed;
      left: 90%;
      top: 3%;
    }

    #click:checked ~ .icon i:before{
      content: "\f00d";
    }

    nav ul {
      position: fixed;
      top: 60px;
      left: -100%;
      background: #032942;
      height: 100vh;
      width: 100%;
      display: block;
      z-index: 1;
      text-align: center;
      transition: all 0.4s ease;
    }

    #click:checked ~ ul {
      left: 0;
    }
  
    nav ul li {
      margin: 40px 0;
    }

    nav ul li a {
      font-size: 20px;
    }
  }

  