{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>หน้ากรอกข้อมูล</title>
    <link rel="stylesheet" href="{% static 'css/createForm.css' %}">
    <script src="{% static 'js/createForm.js' %}" ></script>
  
{% endblock %}


{% block content %}
{% if messages %}
{% for message in messages %}
  <div class="alert">
    <i class="fa-solid fa-circle-exclamation"></i>
    <span class="msg"> Warning : {{message}}</span>

      {% comment %} <div class="alert alert-danger" role="alert">
      <storng>{{message}}</storng>
      </div> {% endcomment %}
  </div> 
{% endfor %}
{% endif %}

<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <img src="https://static.vecteezy.com/system/resources/previews/005/604/619/original/male-and-female-personnel-stand-in-front-of-the-job-applicant-list-concept-of-choosing-workers-or-personnel-recruiting-or-hiring-staff-cartoon-illustration-vector.jpg">
      <form action="/addForm/" method="post" id="register_form">
        {% csrf_token %}
        <div class="formbold-form-title">
          <h2>Register Form</h2>
        </div>

        <div class="formbold-mb-3">
            <label for="username" class="formbold-form-label">
              Username
            </label>
            <input
              type="text"
              name="username"
              id="username"
              value="{{ username }}" 
              class="formbold-form-input"
              {% comment %} required / เด้งข้อความเมื่อลืมกรอกในกล่องนี้ แต่ไม่มีกล่องแดง {% endcomment %}
            />
        </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="first_name" class="formbold-form-label">
              First name
            </label>
            <input
              type="text"
              name="first_name"
              id="first_name"
              value="{{ first_name }}" 
              class="formbold-form-input"
            />
          </div>
          <div>
            <label for="last_name" class="formbold-form-label"> Last name </label>
            <input
              type="text"
              name="last_name"
              id="last_name"
              value="{{ last_name }}" 
              class="formbold-form-input"
            />
          </div>
        </div>
  
        <div class="formbold-input-flex">
          <div>
            <label for="nickname" class="formbold-form-label"> Nickname </label>
            <input
              type="text"
              name="nickname"
              id="nickname"
              value="{{ nickname }}" 
              class="formbold-form-input"
            />
          </div>
          <div>
            <label for="tel" class="formbold-form-label"> Phone number </label>
            <input
              type="tel"
              name="tel"
              id="phone"
              value="{{ tel }}" 
              class="formbold-form-input"
            />
          </div>
        </div>
  
        <div class="formbold-mb-3">
          <label for="email" class="formbold-form-label">
            Email
          </label>
          <input
            type="email"
            name="email"
            id="email"
            value="{{ email }}" 
            class="formbold-form-input"
          />
        </div>

        <div class="formbold-input-flex">
            <div>
              <label for="team" class="formbold-form-label"> Team </label>
              <input
                type="text"
                name="team"
                id="team"
                value="{{ team }}" 
                class="formbold-form-input"
              />
            </div>
            <div>
              <label for="position" class="formbold-form-label"> Position </label>
              <input
                type="text"
                name="position"
                id="position"
                value="{{ position }}" 
                class="formbold-form-input"
              />
            </div>
        </div>

        <div class="formbold-input-flex">
          <div >
              <label for="leader" class="formbold-form-label"> Leader </label>
              <input
                type="text"
                name="leader"
                id="leader"
                value="{{ leader }}" 
                class="formbold-form-input"
              />
          </div>
          <div>
            <label for="level" class="formbold-form-label">
              Level
            </label>
            <input
              type="level"
              name="level"
              id="level"
              value="{{ level }}" 
              class="formbold-form-input"
            />
          </div>
        </div>

        <div class="formbold-mb-3">
            <label for="password" class="formbold-form-label">
              Password
            </label>
            <input
              type="password"
              name="password"
              id="password"
              value="{{ password }}" 
              class="formbold-form-input"
            />
          </div>

        <button type="submit" class="formbold-btn" onclick="return checkInput()">SAVE</button>

      </form>

  </div>
</div>

{% endblock content %}


      
    