{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>status</title>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/status.css' %}">
    <script src="{% static 'js/status.js' %}"></script>
<script>
    var test = "{% url 'info' %}";
    console.log('path = ', test)
</script>
{% endblock title %}

{% block content %}

{% if messages %}
{% for message in messages %}
  <div class="alert">
    <i class="fa-solid fa-circle-exclamation"></i>
    <span class="msg"> {{message}}</span>
  </div> 
{% endfor %}
{% endif %}

<div class="container emp-profile">
    {% if user.is_authenticated %}
        <h2 class="text-center">สถานะการลา : {{user.username}}</h2>
        <div class="d-flex justify-content-center" >

    {% endif %}

  
    {% for num in all_number %}
        <div class="card ">
            <div class="container">
            <h5>Sick Leave</h5>
            <p>{{num.sick}} วัน </p>
            </div>
        </div>
        <div class="card">
            <div class="container">
            <h5>Personal Leave</h5>
            <p>{{num.personal}} วัน </p>
            </div>
        </div>
        <div class="card">
            <div class="container">
            <h5>Vacation Leave</h5>
            <p>{{num.vacation}} วัน </p>
            </div>
        </div>
    {% endfor %}
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">ID</th>               
            <th scope="col">Type</th>
            <th scope="col">From Date</th>
            <th scope="col">To Date</th>
            <th scope="col">Numberleave</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>   
            <th scope="col">Cancel</th>
            </tr>
        </thead>
        <tbody>
            {% for person in all_person %}
            <tr>
                <th scope="row" id="personIdCell">LEAVE{{person.id}}</th>
                <td>{{person.typeleave}}</td>
                <td>{{person.From_Date}}</td>
                <td>{{person.To_Date}}</td>
                <td>{{person.numberleave}}</td>
                {% if person.show == 1 %}
                    <td style="color:MediumSeaGreen;">ดำเนินการเสร็จสิ้น</td>
                    <td> - </td>
                    <td> - </td>

                {% else %}
                
                    <td style="color:Tomato;">รอดำเนินการ</td>
                    <td > <a href='/edit/{{person.id}}' class="btn btn-warning">แก้ไข</a> </td>
                    <td > 
                      <a href='/delete/{{person.id}}' 
                      class="btn btn-danger"
                      onclick="return confirm('คุณต้องการยกเลิกฟอร์มการลานี้หรือไม่?')">ยกเลิก</a> 
                    </td>
                {% endif %}

            </tr>
            {% endfor %}
        </tbody>
        </table>
</div>
   
{% endblock content %}  

